@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Permanent+Marker&display=swap');
body{
    margin: 0;
    height: 100vh;
    font-family: "Permanent Marker", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
}